.login-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.login-box {
  width: 350px;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  font-size: 16px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.login-box button:hover {
  background: #005fcc;
}

.error-msg {
  background: #ff3b3b;
  padding: 10px;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
}
